@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(253, 249, 249); 
  --text-color: black;
  --sidebar-bg-color: rgb(253, 244, 244); 
  --navbar-bg-color: rgb(253, 244, 244); 
}

.dark {
  --bg-color: rgb(34, 34, 34); 
  --text-color: white; 
  --sidebar-bg-color: #353535;
  --navbar-bg-color: #353535; 
}

body { 
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: larger;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar {
   background-color: var(--navbar-bg-color);
   transition: background-color 0.3s ease, color 0.3s ease;
}

.text-blue-500, .text-blue-400, .text-blue-300 {
  color: #A16BBE;
}

.highlight {
  color: #e98322;
}

h1, h2, h3 {
  color: #E0B0FF; 
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

a {
  text-decoration: underline;
}

p {
  line-height: 1.6; 
  margin-bottom: 10px;
}

.carousel-image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.article {
  margin-left: 500px;
  margin-top: 75px;
}

@media (max-width: 768px) {
  .article {
    margin-left: -35px;
    width: 490px;
  }
  .sidebar {
    width: 400px;
  }
}


@media (min-width: 768px) and (max-width: 1080px) {
  .article {
    margin-left: 300px;
    min-width: 550px;
  }
}
