@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(34, 34, 34);
  color: white; 
  font-size: larger;
}

.sidebar {
  background-color: #353535; 
  
}

.navbar {
   background-color: #353535; 
}

.text-blue-500, .text-blue-400, .text-blue-300 {
  color: #A16BBE;
}

.highlight {
  color: #e98322;
}

h1, h2, h3 {
  color: #E0B0FF; /* Light purple for headings */
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Subtle highlight on hover */
}

aside {
  background-color: black;
}

a {
  text-decoration: underline;
}

p {
  line-height: 1.6; 
  margin-bottom: 10px;
}

.carousel-image {
  width: 100%; /* Adjust this value as needed */
  max-width: 400px; /* Maximum width of the image */
  height: auto; /* Maintain aspect ratio */
}

.article {
  margin-left: 450px;
  margin-top: 75px;
}